<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.pharmacie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".detail_pharma">
        </activity>
        <activity android:name=".ActivityListCamand">
        </activity>
        <activity android:name=".ActivityComand"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAq-QaBVqCz09LnQwcr6Opjezfe9oKqcMQ"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".FilterVille"/>
        <activity android:name=".showPharmacies"/>
        <activity android:name=".Maps.MapMainActivity"/>
    </application>

</manifest>